<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header class="masthead mb-auto" th:fragment="header">
    <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/" data-path="/" >Main Page</a>
            <a sec:authorize="hasRole('ROLE_USER')" class="nav-link" href="/propertyForm/list">Properties</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/user/list">Landlord Applications</a>
            <a sec:authorize="hasRole('ROLE_LANDLORD') || hasRole('ROLE_TENANT')" class="nav-link" href="/user/myForms">My Forms</a>
        </nav>
    </div>
    <div class="auth-buttons">
        <a sec:authorize="!isAuthenticated()" class="nav-link">
            <a  class="btn btn-outline-primary" href="/login">Login</a>
            <a  class="btn btn-primary" href="/register">Register</a>
        </a>
        <a sec:authorize="isAuthenticated()" class="nav-link" style="display: flex; align-items: center;">
            <p class="navbar-text" style="margin: 0 20px 0 0;">Logged in as: <span sec:authentication="name"></span></p>
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-danger" value="Sign Out"/>
            </form>
        </a>
    </div>
</header>
</body>
</html>