<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>Landlord Applications</title>
</head>
<body>
<div layout:fragment="main-content">
  <h1>Landlord Applications</h1>

  <div th:if="${msg}" class="alert alert-success" th:text="${msg}"></div>

  <div class="table-wrapper">
    <div class="scrollable-table-container">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}" th:if="${user.roles.size() == 1 and user.roles[0].name == 'ROLE_USER'}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.username}"></td>
          <td th:text="${user.name}"></td>
          <td th:text="${user.surname}"></td>
          <td th:text="${user.email}"></td>
          <td th:text="${user.phone}"></td>
          <td>
            <a th:href="@{'/user/addRole/' + ${user.id} + ${'/'} + ${'ROLE_LANDLORD'} }" class="btn btn-primary">Approve as Landlord</a>
            <a th:href="@{'/user/viewForms/' + ${user.id}}" class="btn btn-primary">View Property Forms</a>
            <a th:href="@{'/user/delete/' + ${user.id}}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>