<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Property Forms</title>
</head>
<body>
<div layout:fragment="main-content">
    <h1>Property Forms</h1>

    <div th:if="${propertyForms.isEmpty()}">
        <p>No forms found.</p>
    </div>

    <div th:unless="${propertyForms.isEmpty()}">
        <div class="scrollable-table-container">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Address</th>
                    <th>Rent Price</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <!-- Only show rows where form.status is true -->
                <tr th:each="form : ${propertyForms}" th:if="${form.getStatus() == 1}">
                    <td th:text="${form.user.username}"></td>
                    <td th:text="${form.date}"></td>
                    <td th:text="${form.address}"></td>
                    <td th:text="${form.rentPrice} + '€'"></td>
                    <td>
                        <!-- View Details Button -->
                        <a th:href="@{'/propertyForm/' + ${form.id}}" class="btn btn-info">View Details</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>