<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Rental Applications</title>
</head>
<body>
<div layout:fragment="main-content">
    <h1>Rental Applications</h1>
    <div th:if="${msg}" class="alert alert-success" th:text="${msg}"></div>

    <div th:if="${rentalFormList.isEmpty()}">
        <p>No forms found.</p>
    </div>

    <div th:unless="${rentalFormList.isEmpty()}">
        <div class="scrollable-table-container">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="form : ${rentalFormList}">
                    <td th:text="${form.user.username}"></td>
                    <td th:text="${form.date}"></td>
                    <td th:text="${form.user.name}"></td>
                    <td th:text="${form.user.surname}"></td>
                    <td th:text="${form.user.email}"></td>
                    <td th:text="${form.user.phone}"></td>
                    <td>
                        <span th:text="${form.status == -1} ? 'REJECTED' : (${form.status == 0} ? 'PENDING' : 'APPROVED')"></span>
                    </td>
                    <td>
                        <form th:action="@{'/rentalForm/changeRentalFormStatus/' + ${form.id} + '/1'}"
                              style="display: inline;">
                            <button type="submit" class="btn btn-success" th:disabled="${form.status == 1}">Approve
                            </button>
                        </form>

                        <form th:action="@{'/rentalForm/changeRentalFormStatus/' + ${form.id} + '/-1'}"
                              style="display: inline; margin-left: 10px;">
                            <button type="submit" class="btn btn-danger" th:disabled="${form.status == -1}">Reject
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>