<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="main-content" class="container text-center mt-5">
    <h1>Welcome to Property Rental Management System</h1>
    <div th:if="${showRoleSelection}">
        <h2>Select your role:</h2>
        <form th:action="@{/selectRole}" method="post" class="mt-4">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="btn-group" role="group">
                <input type="radio" class="btn-check" id="landlord" name="role" value="ROLE_LANDLORD" required>
                <label class="btn btn-primary btn-lg active" for="landlord">Landlord</label>
                <input type="radio" class="btn-check" id="tenant" name="role" value="ROLE_TENANT" required>
                <label class="btn btn-secondary btn-lg active ml-2" for="tenant">Tenant</label>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
</body>
</html>